.nav-head {
  padding: 16px;
}

.bar-title-nav {
  font-size: 21px;
  color: #ffffff;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 70vw; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0;
    left: -70vw;
    background-color: #212121;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav ul {
  list-style-type: none;
  padding-left: 0px;
}

.sidenav .title {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0px;
}

.sidenav .subtitle {
  margin: 4px 0px 0px 0px;
  font-size: 12px;
  color: #ffffff;
}

.sidenav a {
    padding: 12px 8px 13px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
  font-size: 36px;
}
